@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background-color: #ffffff;
  color: #171717;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

.dark body {
  background-color: #0f1012;
  color: #ededed;
}
